<%= form_tag car_models_path, method: :get, class: "form-signin" do %>
  <h2 class="form-signin-heading">Escolha a Fabricante</h2>
    <%= label_tag "", "", class: "sr-only" %>
    <%= collection_select(:webmotors, :code, @brandes, :webmotors_code, :name, {}, class: "form-control") %>
  </p>
  <%= submit_tag "Buscar modelos", class: "btn btn-lg btn-primary btn-block"%>
<% end %>